:root {
  /* Color */
  /* 테마 색깔은 무엇으로 할까 */
  --color-brown-dark: #5f4339;
  --color-brown-light: #be9c91;
  --color-brown-lighter: #bcaaa4;
  --color-brown: #8d6e63;
  --color-ivory: rgb(255, 255, 230);
  --color-white: #fafafa;
  --color-black: #212121;
  --color-black-dark: #000000;
  --color-black-light: #484848;
  --color-gray-light: #e0e0e0;
  --color-gray-dark: #aeaeae;
  --color-red: #f50057;
  --color-blue: #3d5afe;
  --color-blue-light: #3e68ff;
  --color-html: #fd7e14;
  --color-vue: #41b883;
  --color-react: #61dafb;
  --color-css: #29a9df;
  --color-js: #efd81d;

  /* Padding, Margin */
  --padding-l: 8px;
  --padding-m: 12px;
  --padding-h: 24px;

  --margin-l: 8px;
  --margin-m: 12px;
  --margin-h: 24px;

  /* Font Size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font Weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Image Size */
  --project-img: 50px;
  --profile-img: 200px;

  /* Font Family */
  --roboto: 'Roboto', sans-serif;
  --openSans: 'Open Sans', sans-serif;

  /* Size Border Radius */
  --size-border-radius: 4px;
}

/* Global Set Up */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--openSans);

  /* pointer 지정 */
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

li {
  list-style: none;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* 1. Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 0 var(--padding-h);
}

.navbar__menu {
  display: flex;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar__menu_item {
  padding: var(--padding-l) var(--padding-m);
  margin: 0 var(--margin-l);
  cursor: pointer;
  border-radius: var(--size-border-radius);
}

.navbar__menu_item.active {
  border: 1px solid var(--color-white);
}

.navbar__menu_item:hover {
  background-color: var(--color-black-light);
}
