:root {
  /* Color */
  /* 테마 색깔은 무엇으로 할까 */
  --color-brown-dark: #5f4339;
  --color-brown-light: #be9c91;
  --color-brown-lighter: #bcaaa4;
  --color-brown: #8d6e63;
  --color-ivory: rgb(255, 255, 230);
  --color-light-white: #fafafa;
  --color-white: #eeeeee;
  --color-black: #212121;
  --color-black-dark: #000000;
  --color-black-light: #212121;
  --color-gray: #616161;
  --color-gray-light: #8e8e8e;
  --color-gray-dark: #494949;
  --color-red: #f50057;
  --color-blue: #3d5afe;
  --color-blue-light: #3e68ff;
  --color-blue-swallow: #63a0d1;
  --color-html: #fd7e14;
  --color-vue: #41b883;
  --color-react: #61dafb;
  --color-css: #29a9df;
  --color-js: #efd81d;
  --color-pink: #ffcdd2;

  /* Padding, Margin */
  --padding-l: 8px;
  --padding-m: 12px;
  --padding-h: 24px;

  --margin-l: 8px;
  --margin-m: 12px;
  --margin-h: 24px;

  /* Font Size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font Weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Image Size */
  --project-img: 50px;
  --avatar-img: 250px;

  /* Font Family */
  --roboto: 'Roboto', sans-serif;
  --openSans: 'Open Sans', sans-serif;

  /* Size Border Radius */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

/* Global Set Up */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--openSans);

  /* pointer 지정 */
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

li {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  margin: 4px 0;
}

ul {
  padding: 0px;
}

/* 1. Navbar */
#navbar {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  color: var(--color-white);
  padding: 0 var(--padding-h);
  position: fixed;
  width: 100%;
  transition: all var(--animation-duration) ease-in-out;
}

#navbar.navbar--dark {
  background-color: var(--color-black);
}

.navbar__menu {
  display: flex;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar__menu_item {
  padding: var(--padding-l) var(--padding-m);
  margin: 0 var(--margin-l);
  cursor: pointer;
  border-radius: var(--size-border-radius);
}

.navbar__menu_item.active {
  border: 1px solid var(--color-white);
}

.navbar__menu_item:hover {
  background-color: var(--color-gray-dark);
}

/* 2. Home */
#home {
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
  z-index: 1;
  padding: 40px;
  padding-top: 110px;
  transition: all var(--animation-duration) ease-in-out;
  background: url(assets/background-gray.png) center/cover no-repeat;
}

#home.home__transparent {
  opacity: 0.5;
}

/* #home:after {
  content: '';
  width: 100%;
  height: 100%;
  background: url(assets/background-gray.png) center/cover no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.8;
} */

.home__avatar {
  width: var(--avatar-img);
  height: var(--avatar-img);
  border: 2px solid var(--color-white);
  border-radius: 50%;
}

.home_title,
.home_description {
  color: var(--color-white);
}

.home__contact {
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: var(--margin-h);
  padding: var(--padding-l) var(--padding-m);
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
  color: var(--color-white);
}

/* Sections Common */
.section {
  padding: 50px;
  text-align: center;
  /* 최대로 커질 수 있는 크기 */
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/* About */
.about__majors {
  display: flex;
  justify-content: space-evenly;
  margin: 80px 0;
}

.major__icon {
  width: 250px;
  height: 250px;
  line-height: 250px;
  font-size: 75px;
  border: 1px solid var(--color-blue-swallow);
  color: var(--color-blue-swallow);
  border-radius: 50%;
  margin-bottom: 16px;
}

/* major__icon이 호버되었을 때, i에만 아래 속성 적용한다. */
.major__icon i:hover {
  color: var(--color-pink);
  transform: rotate(-30deg) scale(1.1);
  /* 애니메이션은 250 ~ 350사이가 사용자가 느끼기에 적당함. */
  transition: all var(--animation-duration) ease-in-out;
}

.major__title,
.major__description {
  color: var(--color-black-light);
}

.major__description {
  font-size: var(--font-small);
}

.recode__jobs {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.recode__jobs img {
  width: 55px;
  height: auto;
  margin: 0 16px;
}

.job__description {
  text-align: left;
}

.job__name,
.job__period {
  color: var(--color-gray-dark);
}

.job__name {
  font-weight: 600;
  font-size: var(--font-small);
}

.job__period {
  font-size: var(--font-micro);
}

/* Skill */

#skills {
  background-color: var(--color-ivory);
}

.skillset {
  display: flex;
  background-color: var(--color-gray-light);
  color: var(--color-white);
  margin: 20px 0;
}

.skillset__left {
  flex-basis: 60%;
  background-color: var(--color-gray-dark);
  padding: 20px 40px;
}

.skillset__title {
  color: var(--color-white);
  /* margin-top: 0; */
}

.skill {
  margin-bottom: 8px;
}

.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-gray-light);
}

.skill_value {
  width: 70%;
  height: 3px;
  background-color: var(--color-red);
}

.skillset__right {
  flex-basis: 40%;
}

.tools {
  background-color: var(--color-gray);
  padding: 4px 0;
}

.skill__description {
  display: flex;
  justify-content: space-between;
}

/* Work */
.work__categories {
  margin: 40px 0;
}

.category__btn {
  border: 1px solid var(--color-gray-light);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
}

.category__btn.active,
.category__btn:hover {
  background-color: var(--color-gray);
  color: var(--color-white);
}
.category__btn.active .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}

.category__count {
  background-color: var(--color-blue);
  border: 1px solid var(--color-blue);
  border-radius: 50%;
  color: var(--color-white);
  width: 24px;
  height: 24px;
  line-height: 24px;
  /* span 태그는 컨텐츠를 꽉! 잡는 특성이 있어서 block 성질을 추가해준다. */
  display: inline-block;
  position: relative;
  top: -20px;
  left: 4px;
  opacity: 0;
  transition: all var(--animation-duration) ease-in-out;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  width: 280px;
  height: 250px;
  margin: 2px;
  background-color: var(--color-white);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project__img {
  /* content를 부모 요소 안에 가둠. */
  max-width: 100%;
  max-height: 100%;
}

.project__description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-black-dark);
  opacity: 0;
  transition: all var(--animation-duration) ease-in-out;
  transform: translateY(10px);
}

.project:hover .project__description {
  transform: translateY(0px);
  opacity: 0.85;
}

.project__description h3 {
  color: var(--color-white);
}

.project__description h3:after {
  display: block;
  content: '';
  width: 50px;
  height: 2px;
  background-color: var(--color-white);
  margin: 8px auto 0px auto;
}

/* Testimonial */
#testimonials {
  background-color: var(--color-white);
}

.testimonials {
  margin: 32px 0;
}

.testimonial__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.testimonial {
  display: flex;
  margin: 40px 0;
}

/* 부모 요소를 기준으로 n번째 자식 요소 일 때 적용. */
.testimonial__avatar:nth-child(odd) {
  margin-right: 40px;
}

.testimonial__avatar:nth-child(even) {
  margin-left: 40px;
}

.testimonial__speech-bubble {
  padding: 18px;
  background-color: var(--color-light-white);
  border-radius: var(--size-border-radius);
}

.testimonial__speech-bubble p {
  color: var(--color-gray-light);
}

.testimonial__speech-bubble a {
  color: var(--color-html);
}

/* Contact */
#contact {
  background-color: var(--color-black);
}

.contact__title,
.contact__email,
.contact__rights {
  color: var(--color-white);
}

.contact__title {
  margin: 32px 0;
}

.contact__links {
  font-size: var(--font-large);
  margin: 24px 0;
}

.contact__links i {
  transition: all var(--animation-duration) ease-in-out;
}

.contact__links i:hover {
  transform: scale(1.1);
  color: var(--color-vue);
}

.navbar__toggle-btn {
  position: absolute;
  right: 32px;
  font-size: var(--font-medium);
  color: var(--color-white);
  display: none;
}

/* 차이점만 media 쿼리에 작성하자!! */
/* For below 768px screen width */
@media screen and (max-width: 768px) {
  .navbar__toggle-btn {
    display: block;
    top: 21px;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .navbar__logo {
    margin: 16px 0;
  }

  .about__majors {
    flex-direction: column;
    align-items: center;
  }

  .major:first-child {
    margin-bottom: 50px;
  }

  .skillset {
    flex-direction: column;
    margin: 50px auto;
    width: 70%;
  }

  .project {
    flex-grow: 1;
  }

  .testimonial__avatar {
    width: 100px;
    height: 100px;
  }
}
